<div class="container mt-4">
    <h4 class="font-weight-bold">Encounter Liste</h4>
    <table class="table table-hover table-striped mt-4">
        <thead class="thead-light">
            <tr>
                <th>Encounter ID</th>
                <th>Status</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let encounter of encounterArr$" (click)="selectEncounter(encounter)">
                <td>{{encounter.id}}</td>
                <td>{{encounter?.status}}</td>
                <td>
                    <!-- You can add action buttons or links here if needed -->
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-end mt-4">
        <button (click)="createEncounter()" type="button" class="btn btn-success">
            <i class="fas fa-plus"></i> Neuen Encounter erstellen
        </button>
    </div>

    <!-- Wird nur angezeigt, wenn ein selectedEncounter existiert und eine id hat -->
    <div *ngIf="selectedEncounter?.id != ''" class="selected-encounter-details mt-4">
        <h5 class="font-weight-bold">Ausgewählter Encounter: {{selectedEncounter.id}}</h5>
        <!-- Das Encounter-Komponenten-Tag, welches das ausgewählte Encounter anzeigt -->
        <app-encounter [id]="selectedEncounter.id" (encounterModified)="onEncounterModified($event)">
        </app-encounter>
    </div>
</div>
