<div class="container mt-4">
    <h4 class="font-weight-bold">Encounter Details</h4>
    <form (ngSubmit)="onSubmit()">
        <table class="table table-hover table-striped mt-4">
            <thead class="thead-light">
                <tr>
                    <th>Detail</th>
                    <th>Wert</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="encounter.id" name="id" readonly>
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        <select class="form-control" [(ngModel)]="encounter.status" name="status">
                            <option *ngFor="let status of statusOptions" [value]="status">{{status}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="encounter.name" name="name">
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-end mt-4">
            <button (click)="deleteEncounter()" type="button" class="btn btn-danger mr-2">
                <i class="fas fa-trash-alt"></i> Encounter löschen
            </button>
            <button type="button" class="btn btn-warning" style="margin-left: 10px;" (click)="updateEnconter()">
                <i class="fas fa-save"></i> Änderungen speichern
            </button>
        </div>
    </form>
</div>