<ul class="list-group">
    <li class="list-group-item">
        ID: {{patient?.id}}
    </li>
    <li class="list-group-item">
        <label>
            Active:
            {{patient?.active}}
        </label>
    </li>
    <li class="list-group-item">
        <label>
            Gender:
            {{patient?.gender}}
        </label>
    </li>
    <li class="list-group-item">
        <label>
            Birth date:
            {{patient?.birthDate}}
        </label>
    </li>
    <li class="list-group-item">
        <label>
            Deceased:
            {{patient?.deceasedBoolean}}
        </label>
    </li>
    <li class="list-group-item">
        <label>
            Deceased:
            {{patient?.deceasedDateTime}}
        </label>
    </li>
    <li class="list-group-item">
        <div>
            <h3>Names</h3>
            <div *ngFor="let name of patient?.name">
                <div>
                    <label>
                        Use:
                        {{name?.use}}
                    </label>
                    <br>
                    <label>
                        Text:
                        {{name?.text}}
                    </label>
                    <br>
                    <label>
                        Label:
                        {{name?.family}}
                    </label>
                </div>
            </div>
        </div>
    </li>
</ul>
<div>
    <button (click)="deletePatient()" type="button" class="btn btn-danger" style="margin: 10px;">Patienten löschen</button>
    <button (click)="updatePatient()" type="button" class="btn btn-warning">Änderungen speichern</button>
</div>