<ul class="list-group" style="font-weight: 400;">
    <li class="list-group-item">
        ID: {{practitioner?.id}}
    </li>
    <li class="list-group-item">
        <label>
            Active:
            {{practitioner?.active}}
        </label>
    </li>
    <li class="list-group-item">
        <label>
            Gender:
            {{practitioner?.gender}}
        </label>
    </li>
    <li class="list-group-item">
        <label>
            Birth date:
            {{practitioner?.birthDate}}
        </label>
    </li>
    <li class="list-group-item">
        <div>
            <h3>Names</h3>
            <div *ngFor="let name of practitioner?.name">
                <div>
                    <label>
                        Use:
                        {{name?.use}}
                    </label>
                    <br>
                    <label>
                        Text:
                        {{name?.text}}
                    </label>
                    <br>
                    <label>
                        Label:
                        {{name?.family}}
                    </label>
                    <br>
                    <label>
                        Given:
                        {{name?.given}}
                    </label>
                    <br>
                    <label>
                        Suffix:
                        {{name?.suffix}}
                    </label>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div>
            <h3>Photo:</h3>
            <div *ngFor="let photo of practitioner?.photos">
                <div>
                    <div>
                        <img src="{{photo?.data}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div>
            <h3>Qualifications</h3>
            <div *ngFor="let qualis of practitioner?.qualification">
                <div>
                    <label>
                        ID:
                        {{qualis?.id}}
                    </label>
                    <br>
                    <label>
                        Code:
                        {{qualis?.code?.text}}
                    </label>
                    <br>
                    <label>
                        Period:
                        {{qualis?.period?.start}}
                    </label>
                    <br>
                    <label>
                        Issuer:
                        {{qualis?.issuer}}
                    </label>
                </div>
            </div>
        </div>
    </li>
</ul>
<div>
    <button (click)="deletePractitioner()" type="button" class="btn btn-danger" style="margin: 10px;">Practitioner
        löschen</button>
    <button (click)="updatePractitioner()" type="button" class="btn btn-warning">Änderungen speichern</button>
</div>